* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  min-height: 100vh;
  font-family: Verdana, sans-serif;
  background-color: #000000;
}

.container {
  display: flex;
  flex-direction: column;
  gap: 20px;
  padding: 20px;
}

.input-container,
.output-container {
  width: 100%;
}

.input-container {
}

.output-container {
}

.input-container textarea,
.output-container textarea {
  height: 30%;
  width: 100%;
  font-size: 24px;
}

.btn {
  min-width: 200px;
  height: 50px;
  margin-top: 20px;
  font-size: 20px;
  border: 2px solid #ccc;
  background-color: #fff;
  cursor: pointer;
}

.btn.extract {
  background-color: #ccac00;
  color: #FFFFFF;
}

.btn.copy {
  background-color: #ccac00;
  color: #FFFFFF;
}

header {
  padding: 2rem;
  margin-bottom: 2rem;
  background: #222222;

}

header h2 {
  color: #ccac00;
  font-size: 24px;
  letter-spacing: 2px;
}

footer {
  display: flex;
  justify-content: center;
  align-items: center;
  color:  #FFD700;
  width: 100%;
  height: 200px;
  padding: 2rem;
  background: #222222;
  margin-top: 2rem;
}

.extra-chars {
  margin-top: 10px;
}

.extra-chars span {
  color:  #ccac00;
  display: block;
  margin-bottom: 10px;
}

.extra-chars input {
  padding: 5px;
  width: 100%;
  max-width: 500px;
}

.fast-forward {
  display: flex;
  justify-content: center;
  margin: 3rem auto;
}

.fast-forward img {
  width: 50px;
  height: 50px;
}